<div class="spotlight-panel" *ngIf="isAuthenticated">
  <h2>Spotlight Artists</h2>
  <ul>
    @for (playlistId of ['3eufB5nRCDdmsx64WJVCwm', '6dR3uyMfA0a8zQ6VLsjI4I', '4L7nQ4qrIQWpAfHgO3w6ky']; track playlistId) {
      <li *ngIf="spotlightArtists[playlistId]">
        {{ spotlightArtists[playlistId].name }}&nbsp;
        <img [src]="spotlightArtists[playlistId].image" [alt]="spotlightArtists[playlistId].artist" class="artist-image">
        {{ spotlightArtists[playlistId].artist }}
        <button (click)="toggleEditSpotlight(playlistId)" class="edit-button">
          {{ editingSpotlight === playlistId ? 'Cancel' : 'Edit' }}
        </button>
      </li>
    }
  </ul>
</div>
  <div class="modal-overlay" *ngIf="editingSpotlight"></div>
    <div class="spotlight-edit-modal" *ngIf="editingSpotlight">
      <h3>Edit Spotlight Artist</h3>
      <div class="spotlight-search">
        <input #spotlightSearch type="text" placeholder="Search for artist" class="search-input"
        (keyup.enter)="searchSpotlightArtist(editingSpotlight!, spotlightSearch.value)">
        <button (click)="searchSpotlightArtist(editingSpotlight!, spotlightSearch.value)" class="search-button">Search</button>
      </div>
      <ul class="spotlight-results">
        @for (artist of spotlightSearchResults[editingSpotlight!]; track artist.name) {
          <li (click)="selectArtistForConfirmation(artist.name)">
            {{ artist.name }}
          </li>
        }
      </ul>
      <div class="confirmation-buttons">
        <button (click)="confirmSpotlightArtistUpdate()" 
                *ngIf="selectedArtistForSpotlight" 
                class="confirm-button">Confirm</button>
        <button (click)="cancelEditSpotlight()" class="cancel-button">Cancel</button>
      </div>
    </div>
<main class="main">
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <h1>{{ title }}</h1>
  <button *ngIf="!isAuthenticated" (click)="login()" class="login-button">Log in with Spotify</button>
  <div *ngIf="!isDataLoaded && isAuthenticated" class="loading-message">
    <p>Please wait while loading...</p>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="loadingProgressPercentage"></div>
    </div>
    <p>&nbsp;</p>
  </div>
  <div *ngIf="isAuthenticated" class="search-container">
    <input #searchInput type="text" placeholder="Search for songs" class="search-input" 
           (keyup.enter)="searchSongs(searchInput.value)"
           [disabled]="!isDataLoaded">
    <button (click)="searchSongs(searchInput.value)" 
            [disabled]="isSearching || !isDataLoaded" 
            class="search-button">
      {{ isSearching ? 'Searching...' : 'Search' }}
    </button>
  </div>
  <div *ngIf="isAuthenticated" class="content-container">
    <div class="search-results">
      @for (song of searchResults; track song.name) {
        <div class="song-item">
          <img [src]="song.albumCover" alt="Album cover" class="album-cover">
          <div class="song-details">
            <h3>{{ song.name }}</h3>
            <p>{{ song.artists }}</p>
            <p class="playlist-info">Found in: {{ song.playlists.join(', ') }}</p>
            @for (playlist of song.playlists; track playlist) {
              <button (click)="deleteSong(song, playlist)" 
                      [disabled]="isSearching" 
                      class="delete-button">Delete from {{ playlist }}</button>
            }
            <button (click)="deleteFromAllLists(song)" 
                    [disabled]="isSearching" 
                    class="delete-all-button">Delete from all lists</button>
          </div>
        </div>
      }
    </div>
    @if (deletedSongs.length > 0) {
      <div class="deleted-songs-column">
        <h2>Deleted Songs</h2>
        <ul>
          @for (item of deletedSongs; track item.song.id) {
            <li>
              <img [src]="item.song.albumCover" alt="Album cover" class="album-cover-small">
              <div>
                <strong>{{ item.song.name }}</strong>
                <p>{{ item.song.artists }}</p>
                <p>Deleted from: {{ item.playlists.join(', ') }}</p>
              </div>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</main>

<router-outlet></router-outlet>
